body {
  font-family: "Roboto", sans-serif;
  margin: 1rem auto;
  max-width: 640px;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #e0e0f0; /* Replace with your preferred background color */
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #a0a0d0; /* Replace with your preferred background color */
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}
