body {
  font-family: "Mooli", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 10px;
}

header {
  background-color: #9b95c7;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  max-width: 20%;
  height: auto;
}

h1 {
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-left: 20px;
}

h1 span {
  display: block;
}

section.hero img {
  width: 100%;
  height: auto;
  max-height: 150px;
}

nav {
  background-color: #c595f1;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

.section.hero {
  position: relative;
}

.cta-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c595f1;
  padding: 15px 10px;
  border-radius: 20px;
}

.cta-button {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #ccadfc;
}

.spotlights,
.weather,
.events {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

section {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.events p {
  margin-bottom: 17px;
}

.events,
.weather,
.spotlights {
  display: flex;
  flex-direction: column;
}

.spotlight {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}
.weather img {
  width: 45px;
  height: 45px;
}

footer {
  background-color: #b4b1cf;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
}
footer p {
  margin: 0;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 0px;
  font-size: 30px;
}
.link {
  color: #4e001a;
}
@media screen and (max-width: 767px) {
  .hamburger-icon {
    display: block;
  }
}
/*DISCOVER*/

.sidebar-section {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1e6ff;
  text-align: center;
}

main figure {
  border: 1px solid #c00c8a;
  padding: 10px;
  margin-bottom: 20px;
  background: #f1e6ff;
}

main img {
  width: 100%;
  height: auto;
}

main figcaption {
  text-align: center;
  font-size: 0.9em;
  color: #000000;
}

/*JOIN*/

form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  padding-top: 10%;
  margin-top: 5%;
  margin-bottom: -15%;
  background-color: white;
}

form label {
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 60%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 4px;
  border: solid thin #ddd;
}

input[type="submit"] {
  width: 50%;
  background-color: #5a5294;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
}

table {
  display: none;
}

/*thanksmessage*/

.thank-you-message {
  background-color: #ddb9e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  height: 400px;
}

/*DIRECTORY*/
#cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.grid-view {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
}

@media (max-width: 767px) {
  .grid-view {
    width: auto;
  }
  .list-view {
    flex-direction: column;
    width: 80%;
    margin-bottom: -30px;
    margin-left: 15px;
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  margin-left: -10px;
}

.list-view img {
  display: none;
}

/*@media (max-width: 767px) {
  .list-view {
    flex-direction: column;
    width: 80%;
    margin-bottom: -30px;
    margin-left: 15px;
  }
}*/

#banner {
  background-color: #f5e85a;
  color: #aa3300;
  padding: 20px;
  position: relative;
  text-align: center;
}

#closeBanner {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}
